
torch
torchvision
torchaudio
pytorch-lightning

numpy
pandas
scipy

scikit-learn


matplotlib
seaborn
plotly           


jupyterlab
ipykernel
notebook

#Utilities & Progress Bars
tqdm        
pyyaml    
hydra-core
wandb
