# torch dependecies
torch
torchvision
torchaudio
pytorch-lightning

# base stack
numpy
pandas
scipy
scikit-learn

# plot
matplotlib
seaborn        

# ipy
jupyterlab
ipykernel
notebook

#Utilities & Progress Bars
tqdm        
pyyaml